<html lang="en">
    <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
</style>
    <title>EXAMPLE</title>
<h3>My example</h3>
    </head>
    <body>
<article>
        <form action="/myc" method="post">
            Enter your name:<input type="text" name="username">
            <input type="submit" value="Login">
        </form>
</article>
<footer>
<h3> Thank you!!!!!</h3>
</footer>
    </body>
</html>
